.ant-list {
    color: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.ant-list-item {
    justify-content: flex-start;
}

mark {
    color: rgb(255, 100, 100);
    background-color: transparent;
}